{% extends 'base.html' %}

{% block title %}
<title>加入會員</title>
{% endblock %}

{% block content %}

    <div class="col-xl-6">
        <div id="video-container">
            
        </div>
<div class="card" style="border-radius: 15px;">
    <div class="card-body p-5">
        <h2 class="text-center mb-5 text-uppercase">加入會員</h2>
        <form action="/adduser/" method="POST">
            {% csrf_token %}
            <div class="form-group mb-4">
                <label for="username">姓名</label>
                <input type="text" class="form-control form-control-lg" id="username" name="username" placeholder="請輸入使用者帳號，長度:6-12個字元" required>
            </div>

            <div class="form-group mb-4">
                <label for="password">密碼</label>
                <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="請最少輸入8-12位英文與數字" required
                pattern="^([a-zA-Z]+\d+|\d+[a-zA-Z]+)[a-zA-Z0-9]*$" minlength="8" maxlength="12" title="請最少輸入8-12位英文與數字">
            </div>

            <div class="form-group mb-4">
                <label for="repassword">確認密碼</label>
                <input type="password" class="form-control form-control-lg" id="repassword" name="repassword" placeholder="請重複輸入密碼" required>
            </div>

            <div class="form-group mb-4">
                <label for="gender">性別</label>
                <input type="radio" id="gender" name="gender" value="M" checked>男
                <input type="radio" id="gender" name="gender" value="F">女
                <input type="radio" id="gender" name="gender" value="O">其他
            </div>

            <div class="form-group mb-4">
                <label for="cPhone">手機號碼</label>
                <input type="number" class="form-control form-control-lg" id="phone" name="phone" placeholder="請輸入您的手機號碼" required>
            </div>

            <div class="form-group mb-4">
                <label for="email">電子信箱</label>
                <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="請輸入您的信箱" required>
            </div>

            <div class="d-flex justify-content-center mb-4 bg-danger">
                {{ message }}
            </div>

            <div class="form-group mb-4">
                <label for="birthday">生日</label>
                <input type="date" class="form-control form-control-lg" id="birthday" name="birthday" required>
            </div>
            <div class="form-group mb-4">
                <label for="cAddr">地址</label>
                <input type="text" class="form-control form-control-lg" id="cAddr" name="cAddr" required>
            </div>

            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-primary btn-block btn-lg text-center" id="submit-button" value="註冊" style="margin-right: 20px;">
                <input type="reset" class="btn btn-primary btn-block btn-lg text-center" id="sumbit-button" value="清除" style="margin-right: 20px;">
                <a href="/front_page/"><button type="button" class="btn btn-primary btn-block btn-lg text-center">返回首頁</button></a>
            </div>
            
            <p class="text-center text-muted mt-5 mb-0">已有帳號了？<a href="/member_login/" class="text-body fw-bold">登入</a></p>

        </form>
    </div>
</div>
</div>


{% endblock %}